html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
    background-color: white;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    /* background-color: rgb(67, 42, 126); */
    background-color: white;
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* background-color: aquamarine; */
    background-color: white;
    width: 25%;
}

.start a img {
    height: 25px;
}

.start-elemento {
    margin-left: 5%;
}

.center {
    /* background-color: rgb(151, 255, 46); */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#barra-busqueda {
    width: 70%;
    height: 70%;
    /* border: 1px solid #6C6C6C; */
    background-color: white;
    border-radius: 50px 0px 0px 50px;
    font-size: 15px;
    padding-left: 2%;
}

.barra-busqueda-btn {
    height: 70%;
    width: 5%;
    border: none;
    font-size: 21px;
}

#barra-busqueda-search {
    border-radius: 0px 50px 50px 0px;
    border: 1px solid #6C6C6C;
    /* background-color: white; */
    width: 7%;
}

#barra-busqueda-microfono {
    border-radius: 50px;
    margin-left: 2%;
}

.end {
    /* background-color: rgb(126, 123, 255); */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 25%;
}

.end-elemento {
    margin-right: 5%;
}

.img-perfil {
    /* border-radius: 50px; */
    width: 35px;
    height: 35px;
}


/* El container */
.container {
    /* background-color: blueviolet; */
    background-color: white;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
}

/* El aside y sus entradas */
aside {
    /* background-color: red; */
    background-color: white;
    width: 13%;
    /* border-right: 1px solid #929292; */
}

.guia-general {
    /* background-color: chocolate; */
    background-color: white;
    padding-left: 3%;
    border-bottom: 1px solid #929292;
}

.guia-tu{
    border-bottom: 1px solid #929292;
}

.titulo-entrada{
    padding-left: 6%;
}

.entrada-guia {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
}

.entrada-div-btn {
    display: flex;
    justify-content: center;
    width: 20%;
}

.entrada-div-p {
    width: 80%;
    padding-left: 5%;
}

#entrada-guia-test {
    background-color: #C8C8C8;
    border-radius: 20px;
}

.icono-blanco {
    background-color: transparent;
    font-size: 20px;
    border: none;
}


/* El main, donde estarán todos los vídeos */
main {
    width: 87%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: burlywood; */
    background-color: white;
}

/* Cada uno de los vídeos */
.video {
    /* background-color: rgb(124, 255, 104); */
    background-color: white;
    width: 100%;
    height: 100%;
    /* border: 1px solid #6C6C6C; */
}

.paddingar {
    height: 94%;
    padding: 3%;
    /* background-color: hotpink; */
    background-color: white;
}

.video-miniatura {
    width: 100%;
    border-radius: 15px;
}

.pie-pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Las tres secciones del video */
.fotocanal {
    width: 20%;
    display: flex;
    align-items: start;
}

.img-perfil-canal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-perfil-canal-pequeno {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.titulo-canal-vistas {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.titulo-canal-vistas p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.tres-puntitos {
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: start;
}

/* Estilos de texto */
.texto-titulo-video{
    font-weight: bold;
}

.texto-gris-chico{
    font-size: 13px;
    color: #333333;
}


/* Media Queries */
@media (width < 1200px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width < 900px) {
    aside{
        width: 0px;
        visibility: collapse;
    }

    main {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}